@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Scripts/layui/css/modules/layer/default/layer.css" rel="stylesheet" />
    <style type="text/css">
        img {
            margin: 0;
            padding: 0;
        }
    </style>
    <title>代理列表</title>
</head>
<body>
   
    <div style="width:95%;margin:20px auto">
        
        <table id="dataTable" lay-filter="dataTb"></table>
        <script src="~/Scripts/layui/layui.js"></script>
        <script src="~/Scripts/lib/datefmt.js"></script>
        <script src="~/Scripts/require.js" data-main="/Scripts/app"></script>
        <link href="~/Scripts/layui/css/modules/layer/default/layer.css" rel="stylesheet" />
        <script type="text/html" id="toolbar">
            <a class="layui-btn layui-btn layui-btn-xs" lay-event="detail">查看</a>
            <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

        </script>
    </div>
</body>
</html>
