<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="XUHONGBO" connectionString="Server=XUHONGBO;Initial Catalog=db_MedicalDistributionSystem;User ID=sa;Password=cde3#edc" providerName="System.Data.SqlClient" />
  <add name="NFineDbContext" connectionString="Server=XUHONGBO;Initial Catalog=db_MedicalDistributionSystem;User ID=sa;Password=cde3#edc" providerName="System.Data.SqlClient" />  
  <add name="DESKTOP-ALQLV05" connectionString="Server=DESKTOP-ALQLV05;Initial Catalog=db_MedicalDistributionSystem;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
</connectionStrings>